<script setup lang="ts">
import Portfolio from "@/components/portfolio.vue";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <Portfolio></Portfolio>
      </v-col>
    </v-row>
  </v-container>
</template>

<style></style>
