<script lang="ts" setup></script>

<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-img
      src="https://scontent.fbkk12-1.fna.fbcdn.net/v/t39.30808-6/319892914_901863247469866_2221360969010145866_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGLcjz15HvZdauP-P7JZQPEV7ZD83Mnj5dXtkPzcyePlzS1o3JDqSfCCszzu9netzfp-MGul-u-pe0mV7YL5KaH&_nc_ohc=L_SKwoT8Py0AX8fLugO&_nc_zt=23&_nc_ht=scontent.fbkk12-1.fna&oh=00_AfCI-EeFqoL36KCqW0gRlicqqQWsYSOHUk2xn5hmdL7Trw&oe=63A286B3"
      height="342px"
    ></v-img>
    <v-card-item>
      <div>
        <div class="text-overline mb-1" style="text-align: center">
          Portfolio
        </div>
        <div class="text-h6 mb-1">Name : Watsapon Sakorn</div>
        <div class="text-h6 mb-1">EducationalHistory</div>
        <div class="text-caption">ElementarySchool : DhammsiriSchool</div>
        <div class="text-caption">MiddleSchool : DhammsiriSchool</div>
        <div class="text-caption">HighSchool : SingsamutSchool</div>
        <div class="text-h6 mb-1">Interested</div>
        <div class="text-caption">การเขียนโปรแกรมให้เป็นและให้เก่ง</div>
      </div>
    </v-card-item>
  </v-card>
</template>
